.container{
  display: flex;
  justify-content: center;
}
.home-wrapper{
    display:flex;
    justify-content: center;
    flex-direction: column ;
    border:#e0e0e2 1px solid;
    padding: 20px ;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    max-width: 250px;
    /* height: 100vh; */
    width: 80%;
    background-color:#cfcccc;  
}
.lang-text{
  display: flex;
  justify-content: center;
}
.lang-select{
    font-family: IRANsans, serif;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}