
.wrapper{
  margin: 20px;
  border:#e0e0e2 1px solid;
  padding: 20px ;
  border-radius: 10px;
  position: absolute;
  top:20%;
  left:35%;
  justify-content: center;
  max-width: 100%;
  width: 300px;
  column-gap: 20px;
  align-self: center;
}
.button{
  padding: 10px;
  border:#e0e0e2 1px solid;
  cursor: pointer; 
  background-color:#abad02;
  margin: 20px;
  border-radius:10px;
}